/* ==============COMMON STYLES============ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

a {
    text-decoration: none;
}


/* ============== COMMON STYLES II ============ */
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: #FFFFFF;
    color: #434455;
}

.item {
    list-style-type: none;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* ==============COMMON STYLES 1+2============ */

/* ==========HEADER ALL STYLES=========== */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-header{
    padding: 17.5px 0;
}

.logo-link {
    /* margin-right: 76px; */
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    word-wrap: break-word;
    color: #4D5AE5;
}

.logo {
    color: #2e2f42;
}

/* ============HERO ALL STYLES============ */
    .hero-section {
    margin: 0 auto;
    max-width: 1440px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-title {
    color: #ffffff;
    font-size: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.order-button {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    gap: 10px;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
    color: #ffffff;
}

button:hover,
button:focus {
    background-color: #404BBF;
}

/* ==========BENEFITS ALL STYLES=========== */


.benefits-list .item-title {
    line-height: 1.1;
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    word-wrap: break-word;
    text-transform: capitalize;
    text-align: center;
}

.benefits-list .item-text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0, 32px;
    word-wrap: break-word;
    line-height: 24px;
}

/* ==========TEAM ALL STYLES=========== */

.team-section {
    background-color: #F4F4FD;
    padding: 96px 0;
}



.team-item {
    text-align: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    /* width: calc((100% - 72px) / 4); */
    max-width: 264px;
}

.team-item-container {
    padding: 32px 0;
}

.team-item-title {
    text-align: center;
    margin-bottom: 8px
}

.team-item-text {
    text-align: center;
}

.team-section-title {
    color: #2e2f42;
    text-align: center;
    line-height: 1.11;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.72px;
    word-wrap: break-word;
    margin: 0 auto 72px auto;
    /* margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto; */

}

.team-list .item {
    background-color: #FFFFFF;
}

.team-list .item-title {
    color: #2e2f42;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    /* margin: 32px 0 8px 0; */
}

.team-list .item-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    margin-bottom: 8px;
    /* margin: 8px 0 32px 0; */
}

.team-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 0 auto;
    width: calc((100% - 72px) / 4);
}

.team-social-icon-link {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .team-social-icon{
    position: static;
} */
.team-social-icon-link:hover,
.team-social-icon-link:focus {
    background-color: #404bbf;
}

.team-social-icon {
    fill: #f4f4fd;
}

/* ==========PORTFOLIO ALL STYLES=========== */

.portfolio-section {
    padding: 96px 0 96px 0;
}

.portfolio-section-title {
    text-align: center;
    line-height: 1.1;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    /* word-wrap: break-word; */
    color: #2e2f42;
    /* padding: 0 0 72px 0; */
    margin: 0 auto 72px auto;
    /* margin-bottom: 72px */
}

.portfolio-container-item {
    padding: 32px 16px;
    border: 1px #F4F4FD solid;
    border-top: none;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-title {
    margin-bottom: 8px;
}

.portfolio-list .item-title {
    line-height: 1.2;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    /* word-wrap: break-word; */
    color: #2e2f42;
    /* margin: 18px 0 32px 0; */
}

.portfolio-list .item-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    /* word-wrap: break-word; */
    color: #434455;
    /* margin: 18px 0 32px 0; */
}

/* =============FOOTER ALL STILES============== */

.footer-page {
    background-color: #2E2F42;
    padding: 97.5px 16px 96px 16px;
}

.footer-container {
    width: 100%;
}

.logo-page-link {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-bottom: 16px;
    color: #4d5ae5;
    line-height: 1.17;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.54px;
    word-wrap: break-word;
}

.footer-logo {
    color: #f4f4fd;
    font-size: 18px;
    font-family: 'Raleway' sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.54px;
    word-wrap: break-word;
}

.footer-text {
    font-size: 16px;
    color: #F4F4FD;
    font-weight: 400;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    width: 100%;
}

/* .footer-social-container {
    display: inlane-block;

} */

.footer-social-text {
    display: inline-block;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 0 auto;
    width: calc((100% - 72px) / 4);
}

.footer-social-icon-link {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon-link:hover,
.footer-social-icon-link:focus {
    background-color: #31d0aa;
}

.footer-social-icon {
    fill: #f4f4fd;
}

.subscribe-container {
    box-sizing: border-box;
    display: block;
}


.subscribe-form-description-text {
    display: inline-block;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.subscribe-input {
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    max-width: 288px;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px white solid;
    background-color: transparent;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.cubscribe-btn-icon {
    fill: #FFFFFF;

}

.subscribe-btn {
    display: flex;
    margin: 0 auto;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;    
    font-family: "Roboto", sans-serif;
    height: 40px;
    max-width: 165px;
    border-radius: 4px;
    background-color: #4D5AE5;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #404bbf;
}

/* =============BACK DROP============ */
/* =============BACK DROP============ */
/* =============BACK DROP============ */
/* =============BACK DROP============ */
/* =============BACK DROP============ */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* ==============MODAL WINDOW============= */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    background-color: #FCFCFC;
    padding: 72px 16px 24px 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #E7E9FC;
    stroke: #111111;
    border-radius: 50%;
    padding: 0;
    line-height: 0;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    border: none;
    fill: #ffffff;
}

.review-form-description {
    text-align: center;
    width: 256px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.review-form-field-label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.review-form-input-wrapper {
    position: relative;
}

.review-form-field-wrapper {
    margin-bottom: 8px;
}

.review-form-field {
    padding-left: 38px;
    width: 100%;
    height: 40px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    outline: transparent;
    outline-offset: 4px;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    background-color: transparent;
}

.review-form-field:focus {
    border-color: #4D5AE5;
}

.review-form-field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field:focus+.review-form-field-icon {
    fill: #4D5AE5;
}

.textarea-wrapper {
    margin-bottom: 16px;
}

.review-form-message {
    width: 100%;
    height: 120px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    background-color: transparent;
    outline: transparent;
    resize: none;
    padding: 8px 16px;
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-message::placeholder {
    color: rgba(46, 47, 66, 0.40);
}

.review-form-message:focus {
    border-color: #4D5AE5;
    outline-color: transparent;
    outline-offset: 4px;
}

/* =========Check box========= */

.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.review-form-checkbox-label {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;

}

.review-form-own-checkbox {
    display: inline-flex;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox:checked+.review-form-checkbox-label .review-form-own-checkbox {
    background-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}

.review-form-checkbox:focus+.review-form-checkbox-label .review-form-own-checkbox {
    outline: 2px solid #4D5AE5;
}

.accent-color {
    color: #4D5AE5;
    text-decoration: underline;
}

.review-form-btn {
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





/*           OOOOOOO               OOOOOOO                           */
/*          OOOOOOO O             OOOOOOO O                           */
/*         OOOOOOO   O           OOOOOOO   O                          */
/*        OOOOOOO     O         OOOOOOO     O                        */
/*       OOOOOOO       O       OOOOOOO       O                       */
/*      OOOOOOO         O     OOOOOOO         O                        */
/*     OOOOOOO           O   OOOOOOO           O                        */
/*    OOOOOOO             O OOOOOOO             O                      */
/*   OOOOOOO               OOOOOOO               O                     */
/*  OOOOOOO               OOOOOOO                 O                    */
/* OOOOOOO               OOOOOOO                   O                   */
/*                                                       */
/*                                                      */
/*                                                      */
/*                                                      */


/* ==========MOBILE STYLES=========== */
/* ==========HEADER MOBILE STYLES=========== */

@media screen and (max-width: 767px){
    .container {
        max-width: 320px;
        }
    
        .page-nav-list {
            display: none;
        }
    
        .contacts {
                display: none;
        }


        /* =========MOBILE MENU==================== */
    
        .mobile-open-btn {
            border: none;
            background-color: transparent;
            padding: 0;
            line-height: 0;
        }
    
        .mobile-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999999;
            background-color: #F4F4FD;
            padding: 0 16px;
            transform: translateX(100%);
            transition: transform 250ms linear;
        }
    
        .mobile-menu.is-open {
            transform: translateX(0%);
            background-color: #F4F4FD;
        }
    
        .mobile-menu-container {
            position: relative;
            padding-top: 72px;
            height: 100%;
            display: flex;
            flex-direction: column;
            margin: 0 24px 0 16px;
        }
    
        .mobile-menu-close-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 8px;
            top: 24px;
            border: none;
            background-color: transparent;
            padding: 0;
            line-height: 0;
            width: 24px;
            height: 24px;
            border: 1px solid rgba(0, 0, 0, 0.10);
            background-color: #E7E9FC;
            stroke: #111111;
            border-radius: 50%;
            padding: 0;
            line-height: 0;
            transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .mobile-menu-close-btn {
                transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .mobile-menu-close-btn:hover,
        .mobile-menu-close-btn:focus {
            border: none;
            fill: #ffffff;
        }

        .mobile-nav{
            margin-bottom: auto;
        }
        .mobile-nav-list {
            display: flex;
            flex-direction: column;
            gap: 40px;
            /* margin-bottom: 168px; */
        }
        .mobile-nav-list .mobile-nav-item:first-child {
            color: #404BBF;
        }

        .mobile-nav-item{
            color: #2E2F42;
                font-size: 36px;
                font-family: Roboto;
                font-weight: 700;
                text-transform: capitalize;
                line-height: 0.9;
                letter-spacing: 0.02em;
        }
        .mobile-nav-item:hover,
        .mobile-nav-item:focus {
            color: #404BBF;
        }
        
        


        .menu-contact-item{
            margin-bottom: 24px;
            font-style: normal;
        }
        .menu-contacts-list{
            margin-bottom: 48px;
        }

        .menu-contact-link{
            color: #434455;
                font-size: 20px;
                font-weight: 500;
                line-height: 0.83;
                letter-spacing: 0.02em;    
        }
        .menu-contact-link:hover,
        .menu-contact-link:focus{
            color: #4D5AE5;
        }
        .mail-adress {
            color: #4D5AE5;
        }

        .mobile-menu-list-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
            margin: 0 auto;
            width: calc((100% - 72px) / 4);
            margin-bottom: 40px;
        }
    
        .mobile-menu-social-icon-link {
            /* position: relative; */
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #4D5AE5;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        /* .team-social-icon{
                position: static;
            } */
        .mobile-menu-social-icon-link:hover,
        .mobile-menu-social-icon-link:focus {
            background-color: #404bbf;
        }
    
        .mobile-menu-social-icon {
            fill: #f4f4fd;
        }


                

/* ============HERO MOBILE SECTION============ */
    
    .hero-section {
        padding: 72px 0;
         max-width: 320px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/hero/mobile-background-hero.png');
    }

    @media screen and (min-resolution: 192pdi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px),
    screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
        .hero {
            background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url('../images/hero/mobile-background-hero@2x.png');
        }
    }
    
    .hero-title {
        margin-bottom: 72px;
        max-width: 100%;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }
    
    button:hover,
    button:focus {
        background-color: #404BBF;
    }
    .benefits-container-icon {
        display: none;
        }
        .benefits-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    }

    .benefits-section {
        padding: 96px 0 96px 0;
    }

    .benefits-title {
        margin-bottom: 8px;
    }

    .benefits-text {
        max-width: 100%;
    }

/* .benefits-item {
        margin-bottom: 72px;
    } */

/* ==========TEAM MOBILE STYLES=========== */

    .team-list {
        display: flex;
        flex-direction: column;
        gap: 72px;
        align-items: center;
            }

/* ==========PORTFOLIO MOBILE STYLES=========== */

    .portfolio-container-item {
        width: 288px;
    }
    .portfolio-list {
        display: flex;
        flex-direction: column;
        gap: 48px
    }

        /* ==========FOOTER MOBILE CONTAINER============== */
    .footer-page{
        padding: 96px 0;
    }
    .footer-text{
        margin: 0 auto;
        max-width: 288px;
    }
    .main-footer-container {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }
    .subscribe-form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
.subscribe-btn {
    gap: 15px;
}


}






/*        OOOOOOOOOOOOOOOOOOOOOOOOOOOOOO                                     */
/*        OOOOOOOOOOOOOOOOOOOOOOOOOOOOOO                                        */
/*        OOOOOOOOOOOOOOOOOOOOOOOOOOOOOO                                        */
/*                  OOOOOOOOOO                              */
/*                  OOOOOOOOOO                              */
/*                  OOOOOOOOOO                              */
/*                  OOOOOOOOOO                              */
/*                  OOOOOOOOOO                              */
/*                  OOOOOOOOOO                              */
/*                  OOOOOOOOOO                              */
/*                  OOOOOOOOOO                              */
/*                  OOOOOOOOOO                              */
/*                  OOOOOOOOOO                              */
/*                  OOOOOOOOOO                              */
/*                  OOOOOOOOOO                              */



/* ==========HEADER TABLET STYLES=========== */


@media screen and (min-width: 768px) and (max-width: 1157px) {

    /* COMON STYLES TABLET */

    .container {
        max-width: 768px;
    }
        .mobile-menu {
            display: none;
        }
    
        .mobile-open-btn {
            display: none;
        }
    

/* HEADER TABLET STYLES */
    .page-header {
        border-bottom: 1px #E7E9FC solid;
        padding: 0 24px;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
        }
        .header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;   
            padding: 16px 0;     
        }
        .page-nav {
            display: flex;
            max-width: 456;
            width: 100%;
            align-items: center;
        }

    .page-nav-list{
        display: flex;
        gap: 40px;
        max-width: 456;
        width: 100%;
        align-items: center;
    }   
    .logo-link{
        margin-right: 120px;
        }

    .page-nav-link {
        line-height: 1.5;
        color: #2e2f42;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.02em;
        word-wrap: break-word;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    .page-nav-link:hover,
    .page-nav-link:focus {
        color: #404BBF;
        font-weight: 500;
        letter-spacing: 0.32px;
        word-wrap: break-word;
        }
 .underline {
     position: relative;
     color: #404BBF;
     padding-bottom: 34px;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .underline::after {
     margin: 0 auto;
     display: block;
     border-radius: 2px;
     width: 48px;
     height: 4px;
     background-color: #404BBF;
     content: '';
     position: absolute;
     left: 0;
     bottom: -1px;
 }

        .contacts {
            margin-left: auto;
            font-style: normal;
        }
    
        .contacts-list {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

 .contact-link {
     letter-spacing: 0.02em;
    font-size: 12px;
    font-weight: 400;
     color: #434455;
     ;
     font-weight: 400;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .contact-link:hover,
 .contact-link:active {
     color: #404BBF;
     font-weight: 400;
     letter-spacing: 0.32px;
     word-wrap: break-word;
 }

 .contacts-list .link:focus {
     color: #404bbf;
 }


 /* =============HERO TABLET STYLES================ */

 
 .hero-section {
    max-width: 768px;
     padding: 112px 0;
     background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
         url('../images/hero/tablet-hero-beckground.png');
 }
  @media screen and (min-resolution: 192pdi) and (min-width: 768px) and (max-width: 1157px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1157px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1157px) {
      .hero {
          background-image: linear-gradient(to bottom,
                  rgba(46, 47, 66, 0.7),
                  rgba(46, 47, 66, 0.7)),
              url('../images/hero/tablet-hero-beckground@2x.png');
      }
  }
  /* ==========TABLET BENEFITS STYLES===== */

  .benefits-container-icon{
    display: none;
  }
  .benefits-section {
      padding: 96px 0 96px 0;
  }
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .benefits-item {
    width: calc((100% - 24px) / 2);
  }
  .benefits-list .item-title{
    text-align: left;
    margin-bottom: 8px;
  }

  /* ========TABLET TEAM STYLES====== */

  .team-list{
    display: flex;
    flex-wrap: wrap;
        gap: 64px 24px;
        margin-left: auto;
        justify-content: center;
  }
  /* .team-item{
    width: calc((100%-24px)/2);
  } */
/* ==========TABLET PORTFOLIO STYLES=========== */

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
}
/* .portfolio-item{
    width: calc((100%-24px)/2);
} */
.portfolio-container-item{
    max-width: 356px;
}

/* ==========TABLET FOOTER STYLES=========== */

.main-footer-container{
    max-width: 550px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
}
.footer-container{
    max-width: 264px;
}
.subscribe-form-description-text,
.footer-social-text,
.logo-page-link{
    text-align: left;
}
.subscribe-form{
    display: flex;
}
.subscribe-btn{
margin-left: 24px;
width: 165px;
gap: 15px;  
}
.subscribe-label{
    width: 264px;
}

        /* ==============BACK DROP=============== */
    
                .modal {
        
                    width: 408px;
                    min-height: 584px;
                }
        
                .review-form-description {
        
                    width: 360px;
                }    
}
/* ========NON OVWERLAY FOR MOBILE AND TABLET */
@media screen and (max-width: 1199px) {
    .text-overlay {
        display: none;
    }
}
/*   OOOOO OOOOO                                                */
/*   OOOOO      OOOOO                                           */
/*   OOOOO         OOOOO                                        */
/*   OOOOO            OOOOO                                     */
/*   OOOOO               OOOOO                                */
/*   OOOOO                 OOOOO                                */
/*   OOOOO                   OOOOO                              */
/*   OOOOO                   OOOOO                              *//*                                                    */
/*   OOOOO                   OOOOO                              */
/*   OOOOO                   OOOOO                              */
/*   OOOOO                 OOOOO                              */
/*   OOOOO                OOOOO                              */
/*   OOOOO              OOOOO                               */
/*   OOOOO           OOOOO                                */
/*   OOOOO       OOOOO                                           */
/*   OOOOO   OOOOO                                          */

/* ==========HEADER DESCTOP STYLES=========== */
@media screen and (min-width: 1158px) {
    
    .container {
        width: 1158px;
        padding: 0 15px;
    }

    .mobile-menu{
        display: none;
    }

    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


        /* ==============Page HEADER ================== */

        .mobile-open-btn{
            display: none;
        }
    
        .page-header {
            border-bottom: 1px #E7E9FC solid;
            padding: 24px 0 24px 0;
            box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 1px 6px rgba(46, 47, 66, 0.08);
                }
    
        .header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            /* padding-top: 24px;
        padding-bottom: 24px; */
        }
        .underline {
            position: relative;
                color: #404BBF;
                padding-bottom: 27.4px;
        }
            
            


        .page-nav {
            display: flex;
            max-width: 456;
            width: 100%;
            align-items: center;
        }
    
        .page-nav-list {
            display: flex;
            gap: 40px;
        }

        .page-nav-link{
        font-size: 16px;  
        font-weight: 500;
        line-height: 24px;
        
        } 
    
        /* .page-nav-item {
            display: inline-block;
        } */
    
        
    
        .contacts-list {
            display: flex;
            width: 344px;
            gap: 40px;
        }
    
        .logo-link {
            margin-right: 76px;
        }

        .page-nav-link:hover,
        .page-nav-link:focus {
            color: #404BBF;         
        }
        .underline {
            position: relative;
            color: #404BBF;
            padding-bottom: 26.3px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

         .underline::after {
             margin: 0 auto;
             display: block;
             border-radius: 2px;
             width: 48px;
             height: 4px;
             background-color: #404BBF;
             content: '';
             position: absolute;
             left: 0;
             bottom: -1px;
         }
    
        .contacts {
            font-style: normal;
        }
    
        .contact-link {
            letter-spacing: 0.02em;
            font-size: 16px;
            color: #434455;
            font-weight: 400;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
         .contact-link:hover,
         .contact-link:active {
             color: #404BBF;
             font-weight: 400;
             letter-spacing: 0.32px;
             word-wrap: break-word;
         }
    
        .contacts-list .link:focus {
            color: #404bbf;
        }
    
        /* ================Hero section ================ */
    
                
    
        .hero-section {
            margin: 0 auto;
            max-width: 1440px;
            padding: 188px 0;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url('../images/hero/people-office.jpg');
        }
        @media screen and (min-resolution: 192pdi) and (min-width: 1158px),
                screen and (min-resolution: 2dppx) and (min-width: 1158px),
                screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
            .hero {
                background-image: linear-gradient(to bottom,
                        rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url('../images/hero/background-office-descop@2x.png');
                    }
                }
    
        /* =====================Benefits section==================== */
    
    
        .benefits-section {
            padding: 120px 0 120px 0;
        }
    
        .benefits-list {
            display: flex;
            gap: 24px;
            /* width: calc((100%-72px)/4); */
        }
    
        .benefits-item {
            width: calc((100%-72px)/4);
        }
    
        .benefits-container-icon {
            display: flex;
            height: 112px;
            align-items: center;
            justify-content: center;
            margin-bottom: 8px;
            border: 1px #8E8F99 solid;
            border-radius: 4px;
            background: #F4F4FD;
        }
    
        .benefits-title {
            margin-bottom: 8px;
        }
    
        .benefits-text {
            max-width: 264px;
        }
        .benefits-list .item-title {
            text-align: left;
            line-height: 1.2;
            color: #2e2f42;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 0.40px;
            word-wrap: break-word;
        }
    
        .benefits-list .item-text {
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.02em;
            word-wrap: break-word;
        }
        
    
        /* ====================Team section =======================*/
    
    
        .team-section {
            background-color: #F4F4FD;
            padding: 120px 0;
        }
    
        .team-list {
            display: flex;
            gap: 24px;
            justify-content: center;
        }
   
        .team-item-container {
            padding: 32px 0;
        }
        
        /* ===================Portfolio section==================== */
        .portfolio-section {
            padding: 120px 0 120px 0;
        }
    
        
    
        .portfolio-list {
            display: flex;
            flex-wrap: wrap;
            gap: 48px 24px;
        }
    
        .portfolio-item {
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
            width: 100%;
            max-width: 360px;
        }
    
        .portfolio-item:hover {
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
            transform: translateY(0%);
        }

        .portfolio-container-overlay {
            text-align: center;
            position: relative;
            overflow: hidden;
        }
    
        .portfolio-item:hover .text-overlay {
            transform: translateY(0);
        }
    
        .text-overlay {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;
            padding: 40px 32px;
            height: 100%;
            overflow: auto;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            transform: translateY(100%);
            background-color: #4D5AE5;
            color: #F4F4FD;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%
        }
    
    
        .portfolio-container-item {
            padding: 32px 16px;
            border: 1px solid #e7e9fc;
            border-top: none;
        }

    
        /* ======================FOOTER=========================== */
    
    
        .footer-page {
            background-color: #2E2F42;
            padding: 100px 0;
        }
    
        .main-footer-container {
            display: flex;
            align-items: baseline;
        }
    
       .footer-text {
            max-width: 264px;
        }
        .logo-page-link {
            text-align: left;
        }
        

        .footer-social-text{
            text-align: left;
        }
        .footer-social-container {
            display: inlane-block;
            margin-right: 80px;
        }

        .subscribe-form {
            display: flex;
            gap: 24px;
        }
    
        .subscribe-form-description-text {
            text-align: left;
        }


        .cubscribe-btn-icon {
            fill: #FFFFFF;
            margin-left: 16px;
        }
        .subscribe-input{
            width: 264px;
        }
    
        /* ==============BACK DROP=============== */
    
        
    
        /* ==============MODAL================ */
    
        .modal {
            
            width: 408px;
            min-height: 584px;  
        }
        .review-form-description {
            
            width: 360px;   
        }

}